.tournaments-container {
    & > h1 {
        margin-block-start: 0;
        margin-block-end: 20px;
        display: flex;
        align-items: center;
        gap: 12px;
        & > span {
            margin-top: 4px;
        }
    }
    & > ul {
        & > li {
            & > a {
                & > div {
                }
            }
        }
    }
}