* {
    box-sizing: border-box;
    direction: rtl;
    &::-moz-selection {
        background-color: #e84b39;
        color: #fff;
    }
    &::selection {
        background-color: #e84b39;
        color: #fff;
    }
}

:where(ul) {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

body {
    margin: 0;
    background-color: #f7f7f7;
}

main {
    max-width: 1280px;
    box-shadow: 0 1px 7px rgba(171, 171, 171, .5);
    margin: auto;
    background-color: #fff;
    & > .content {
        margin-inline: 12px;
        margin-block: 18px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 12px;
        & > .ads {
            width: 400px;
            margin: auto;
            background-color: aqua;
        }
        & > article {
            background-color: blue;
            height: fit-content;
        }
        @media all and (min-width: 540px) {
            & {
                margin-inline: 16px;
            }
        }
        @media screen and (min-width: 960px) {
            & {
                grid-template-columns: 1fr 300px;
                grid-template-rows: 1fr;
                & > .ads {
                    width: 300px;
                    margin: revert;
                }
            }
        }
    }
}

:where(header, footer) {
    background-color: #1f2024;
    padding-inline: 15px;
    justify-content: space-between;
    color: #fff;
}

header {
    height: 75px;
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    @media screen and (min-width: 1281px) {
        & {
            justify-content: flex-start;
        }
    }
}

footer {
    align-content: center;
    font-size: 14px;
    height: 104px;
    & > * {
        display: flex;
        justify-content: center;
        &:is(ul) {
            & > li {
                margin-left: 12px;
                list-style-type: none;
                & > a {
                    text-decoration: none;
                    @media (hover: hover) {
                        &:hover {
                            color: #dd3333;
                        }
                    }
                }
            }
        }
    }
    & a {
        color: inherit;
    }
}