* {
    box-sizing: border-box;
    direction: rtl;
}

body {
    margin: 0;
    background-color: #f7f7f7;
}

main {
    max-width: 1280px;
    box-shadow: 0 1px 7px rgba(171, 171, 171, .5);
    margin: auto;
    background-color: #fff;
}

header {
    background-color: #1f2024;
    padding-inline: 15px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}