.main {
    padding-block: 30px;
    margin-inline: 12px;
    @media all and (min-width: 540px) {
        & {
            margin-inline: 16px;
        }
    }
    & > article {
        & > .matches-title {
            display: flex;
            align-items: center;
            padding: 8px;
            background-color: #141414;
            color: #fff;
            & > h1 {
                margin-bottom: 0;
                margin-top: 4px;
                margin-inline: 8px;
            }
        }
    }
}