.main {
    & > article {
        & > .matches-title {
            display: flex;
            align-items: center;
            padding: 8px;
            background-color: #141414;
            color: #fff;
            border-radius: 12px;
            & > h1 {
                margin-bottom: 0;
                margin-top: 4px;
                margin-inline: 8px;
            }
        }
    }
}